<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="hackathonteam289_dbEntities1" connectionString="metadata=res://*/model.Insurancedb.csdl|res://*/model.Insurancedb.ssdl|res://*/model.Insurancedb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hackathonsqlserver001.database.windows.net;initial catalog=hackathonteam289_db;persist security info=True;user id=hacktm289;password=H@ckathon18;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>